* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3,
p {
    margin: 0;
}

.assurity-component-fit {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
    width: 300px;
}

.assurity-quality-text {
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    color: #000000;
}

.assurity-para {
    font-weight: 600;
    font-size: 10px;
    line-height: 19px;
    color: #707070;
}

.assurity-text-div {
    margin-left: 10px;
}