*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-section-div{
    background: #343434;
    color: white;
    width: 100vw;
}

/* Related Service  */

.footer-section-related-service-div{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    padding: 40px 50px;
    width: 100%;
    
}

.footer-section-related-service-para{
    /* width: 700px; */
    font-size: 12px;
    width: 90%;
    font-weight: 700;
}

.footer-section-related-service-heading{
    font-size: 12px;
    width: 10%;
    font-weight: 500;
}

/* Top Locations  */

.footer-section-top-locations-div{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    padding: 40px 50px;
    width: 100%;
}

.footer-section-top-locations-para{
    /* width: 700px; */
    font-size: 12px;
    width: 90%;
    font-weight: 700;
}

.footer-section-top-locations-heading{
    font-size: 12px;
    width: 200px;
    width: 10%;
    font-weight: 500;
}

/* Other Features Website  */

.other-features-of-the-website{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 40px 50px;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
}

/* Link DIv  */

.footer-section-link-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 40px 50px;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
}

.footer-section-contact-us-link{
    width: 180px;
    text-align: start;
    color: #56FBFF;
    font-weight: 600;
    text-decoration: none;
}

.footer-section-download-app-link{
    color: #56FBFF;
    font-weight: 600;
    text-decoration: none;
}

.footer-section-contact-us-link-div{
    width: 50%;
    display: flex;
    justify-content: end;
    margin-right: 40px;
}

.footer-section-download-app-link-div{
    width: 50%;
    display: flex;
    justify-content: start;
}

/* Download Button div */

.footer-download-button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 50px;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
}

.footer-section-play-store-download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 3px 5px;
    border-radius: 10px;
    background: black;
    color: white;
    margin: 10px 0;
    margin-right: 20px;
}

.footer-section-play-store-download-button-text-allign {
    /* display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column; */
    text-align: start;
    margin-left: 5px;
}



.footer-section-get-it-on {
    font-size: 8px;
    font-weight: 400;
}

.footer-section-play-store {
    font-size: 10px;
    font-weight: 600;
}

.footer-section-phone-email-div{
    margin-right: 40px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.footer-section-phone-email-div p{
    width: 180px;
    text-align: start;
}

.footer-section-play-store-download-button-div{
    width: 50%;
    display: flex;
    justify-content: start;
}

/* Social Media  */

.footer-section-social-media-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px 50px;
    width: 100%;
}

.footer-section-social-media-div i{
    margin-right: 40px;
}

/* Copyright Div  */

.footer-copyright-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 50px;
    width: 100%;
}

.footer-copyright-text{
    font-size: 9px;
    font-weight: 600;
}


/* Media Query To Activate Navbar As Per Screen Size */

@media only screen and (max-width: 1100px) {
    .footer-section-div{
        display: none;
    }
}